@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  font-family: "Varela Round", sans-serif;
}

body {
  padding: 100px;

  #app {
    display: flex;
    justify-content: center;
  }
}


