.quote-box {
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: white;
  padding: 30px 50px;
  border-radius: 10px;
  min-width: 200px;
  max-width: 500px;

  .text {
    align-self: center;
    font-size: 1.5em;
    font-style: italic;
  }

  .author {
    align-self: flex-end;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .new-quote {
      padding: 10px;
      border: none;
      border-radius: 8px;
      font-size: 1em;
      font-weight: 600;
      color: white;
      cursor: pointer;
    }
  }
}
